<ng-container *ngIf="isEditable;else readMode">
    <i *ngIf="icon" class="prefix" [class]="icon + ' prefix'"></i>
    <input type="password" 
    appInputActiveDirective 
    [attr.data-error]="errors"
    data-success=" " 
    [id]="id"
    [placeholder]="placeholder" 
    class="form-control validate" 
    [formControl]="frmCtr"
    [ngClass]="{'autofocus': autofocus}"
    [autofocus]="autofocus">
    <label [for]="id" >{{title}}</label>
</ng-container>
<ng-template #readMode>
    <i *ngIf="icon" class="prefix" [class]="icon + ' prefix'"></i>
    <p type="text" [id]="id" class="form-control form-control-static">
    .........</p>
    <label [for]="id" class="active">{{title}}</label>
</ng-template>