<app-page-list
*appPermission="true;let permission" 
[noCheckBox]="!permission[perms.DELETE]" 
pageTitle="DANH SÁCH NGƯỜI DÙNG" 
keyExtractor="id"  
[data]="data"
[meta]="meta"
[pageOption]="pageOption"
[loading]="loading" 
(emitNavigateBack)="navigateBack($event)"
(emitChange)="papeOptionChange($event)"
(emitRowDbClick)="showDetail($event)">
    <!-- Phần config cho filter bar -->
    <ng-template app-page-filter let-itemSelected>
        <form (ngSubmit)="filter()">
            <div class="row m-2">
                <!-- <div class="col-md-4">
                    <app-input name="to_chuc_id" type="select-server" title="Hội" [(ngModel)]="pageOption.filter.to_chuc_id"  
                        [options]="optionTC" (emitSearch)="searchTC()" (ngModelChange)="changeHoi()">   
                    </app-input>
                </div>
                <div class="col-md-4">
                    <app-input name="phong_ban_id" type="select-server" title="Ban, phòng" [(ngModel)]="pageOption.filter.phong_ban_id"  
                        [options]="optionPhongBanByHoi" (emitSearch)="optionTC()">   
                    </app-input>
                </div> -->
                <div class="col-md-4">
                    <app-input name="tai_khoan" [autofocus]="true" type="text" title="Tên tài khoản" [(ngModel)]="pageOption.filter.FullName"></app-input>
                </div>
                <div class="col-md-4">
                    <app-input name="ten" type="text" title="Họ và tên" [(ngModel)]="pageOption.filter.FullName"></app-input>
                </div>
                <div class="col-md-4">
                    <app-input name="email" type="text" title="Thư điện tử" [(ngModel)]="pageOption.filter.Email"></app-input>
                </div>
                <button type="submit" style="display:none"></button>
            </div>
        </form>
    </ng-template>
    <!-- Phần config cho action bar -->
    <ng-template app-page-actions let-itemSelected>
        <!-- <button mdbWavesEffect class="btn btn-sm btn-primary" *ngIf="permission[perms.EDIT] && profile.tai_khoan_goc" (click)="create()"> -->
        <button mdbWavesEffect class="btn btn-sm btn-primary" (click)="create()">
            <i class="mdi mdi-plus"></i>
            Thêm mới
        </button>
        <!-- <button mdbWavesEffect class="btn btn-sm btn-primary" *ngIf="permission[perms.EDIT]" (click)="syncUser()"> -->
        <button mdbWavesEffect class="btn btn-sm btn-primary" *ngIf="permission[perms.EDIT]" (click)="syncUser()">
            <i class="mdi mdi-plus"></i>
            Đồng bộ từ cổng
        </button>
        <!-- <button mdbWavesEffect class="btn btn-sm btn-danger" *ngIf="permission[perms.DELETE] && itemSelected.length > 0" (click)="deletes(itemSelected)">
            <i class="mdi mdi-delete-outline"></i>
            Xóa
        </button> -->
    </ng-template>
    <!--Phần config cho table list-->
    <app-page-column title="STT" width="60px" class="justify-content-center"class="d-none d-sm-flex">
        <ng-template col-body let-index=index>{{idx + index}}</ng-template>
    </app-page-column>
    <app-page-column title="Tài khoản" orderby='UserName'>
        <ng-template col-body let-item>{{item.UserName}}</ng-template>
    </app-page-column>
    <app-page-column title="Họ và tên" orderby='FullName'>
        <ng-template col-body let-item>{{item.FullName}}</ng-template>
    </app-page-column>
    <app-page-column title="Email" orderby='Email'>
        <ng-template col-body let-item>{{item.Email}}</ng-template>
    </app-page-column>
    <app-page-column title="" class="col-action" width="100px">
        <ng-template col-body let-item>
            <ul class="nav nav-actions">
                <li  class="action-icon nav-item" container="body" ngbTooltip="Thông tin chi tiết" placement="bottom">
                    <a mdbWavesEffect class="nav-link text-info" (click)="showDetail(item)">
                        <i class="mdi mdi-information-outline"></i>
                    </a>
                </li>
                <li class="action-icon nav-item" container="body" ngbTooltip="Xóa" placement="bottom">
                    <a mdbWavesEffect class="nav-link text-danger" (click)="delete(item)">
                        <i class="mdi mdi-delete-outline"></i>
                    </a>
                </li>
            </ul>
        </ng-template>
    </app-page-column>
</app-page-list>