<!-- [noSubHeader]="!permission[perms.EDIT] && !permission[perms.DELETE]"  -->
<app-page-form *appPermission="true;let permission"
[loading]="loading"  

  pageTitle="THÔNG TIN NGƯỜI DÙNG" (emitNavigateBack)="navigateBack($event)"  >
    <ng-container app-page-actions>
        <!-- <button *ngIf="permission[perms.EDIT] && editMode" [disabled]="!positionlForm.form.valid" mdbWavesEffect class="btn btn-sm btn-primary" (click)="save()"> -->
            <button *ngIf="editMode"  [disabled]="!positionlForm.form.valid" mdbWavesEffect class="btn btn-sm btn-primary" (click)="save()">
                <i class="mdi mdi-content-save"></i>
                Lưu lại
            </button>
            <button *ngIf="!editMode" mdbWavesEffect class="btn btn-sm btn-warning" (click)="update()">
                <i class="mdi mdi-pencil-box-outline"></i>
                Sửa
            </button>
            <button *ngIf="!editMode" mdbWavesEffect class="btn btn-sm btn-danger" (click)="delete()">
                <i class="mdi mdi-delete-outline"></i>
                Xóa
            </button>
            <button mdbWavesEffect class="btn btn-sm btn-light" (click)="close()">
                <i class="mdi mdi-close"></i>
                Đóng
            </button>
    </ng-container>
    <ng-container app-page-content>
        <form action="" #positionlForm="ngForm" autocomplete="off">
            <div class="row m-2">
                <div class="col-md-12">
                    <div class="row m-2">
                        <div class="col-md-6">
                            <!-- [isEditable]="is_administrator" -->
                            <app-input [isEditable]="editMode" name="UserName" type="text" title="Tên tài khoản (*)"
                                [(ngModel)]="data.UserName" [validationMessages]="validationMessages.UserName" required></app-input>
                        </div>
                        <div class="col-md-6">
                            <app-input [isEditable]="editMode" name="Password" type="password" title="Mật khẩu (*)"
                                [(ngModel)]="data.Password" [validationMessages]="validationMessages.Password" required></app-input>
                        </div>
                        <div class="col-md-6">
                            <app-input [isEditable]="editMode" name="FullName" type="text" title="Họ và tên (*)" 
                                [(ngModel)]="data.FullName" [validationMessages]="validationMessages.FullName" required></app-input>
                        </div>
                        <div class="col-md-6">
                            <app-input [isEditable]="editMode" name="Email" type="text" title="Email"
                                [(ngModel)]="data.Email" [validationMessages]="validationMessages.Email" required></app-input>
                        </div>
                        <!-- <div class="col-md-6">
                            <app-input [isEditable]="editMode" name="to_chuc_id" type="select-server" title="Hội LHPN (*)" [(ngModel)]="data.to_chuc_id"  
                                [validationMessages]="validationMessages.to_chuc_id" required (ngModelChange)="chonToChuc($event)"
                                [readModeData]="data.to_chuc" [options]="optionTC" (emitSearch)="searchTC()">   
                            </app-input>
                        </div>
                        <div class="col-md-6">
                            <app-input [isEditable]="editMode" name="phong_ban_id" type="select" title="Phòng ban" [(ngModel)]="data.phong_ban_id"
                                [data]=PhongBans [readModeData]="data.phong_ban" [options]="{value:'id', label:'ten', multiple:false}">   
                            </app-input>
                        </div>
                        <div class="col-md-6">
                            <app-input [isEditable]=editMode [autofocus]="true" name="ds_nhom_id" type="select" title="Nhóm người dùng (*)" [(ngModel)]="data.ds_nhom_id"
                                [data]=Nhoms [readModeData]="data.ds_nhom" [options]="{value:'id', label:'ten', multiple:true}"
                                [validationMessages]="validationMessages.ds_nhom_id" required>   
                            </app-input>
                        </div> -->
                    </div>
                </div>
            </div>
        </form>
    </ng-container>
</app-page-form>