.btn{
    box-shadow: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &.btn-sm{
        //padding: 0.35rem 1rem;
        padding: 0rem 0.5rem;
        font-size: 0.64rem;
        margin: 4px;
        border-radius: 0;
        white-space: nowrap;        
        min-height: 1.2rem;
        i.mdi{
            font-size: 1.2rem;
        }
        &[class*=btn-outline-]{
            padding: 0rem 0.5rem;
            i.mdi{
                font-size: 1.1rem;
            }
        }
    }
    &.btn-rounded{
        border-radius: 10em;
    }
}
.btn-rounded{
    border-radius: 10em;
}
.btn-group{
    .btn{
        &.btn-sm{
            margin: 0px;
            padding: 0rem 0.5rem;
        }        
    }
    &.btn-group-divider{
        .btn{
            &.btn-group-title{
                cursor: none;
                opacity:1;
                &:hover{
                    box-shadow: none;
                }
            }   
            &:not(:last-child):not(.btn-group-title):after {
                content: "";
                position: absolute;
                border: .5px solid #f3f4f4;
                right: 0;
                height: 1.25rem;
                top: 0.25rem;
            } 
            &:not(:last-child):not(.btn-group-title):hover::after{
                border: none;
            }       
        }
    }
}

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
} 