<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
<!--rewrite URL config -->
        <rewrite>
            <rules>
                <rule name="Angular friendly url">
                  <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                    <add input="{REQUEST_URI}" pattern="^/token" negate="true" />
                  </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
			
            </rules>
			<outboundRules>
					<rule name="Remove Server header">
					  <match serverVariable="RESPONSE_Server" pattern=".+" />
					  <action type="Rewrite" value="" />
					</rule>
			</outboundRules>
        </rewrite>
		 <httpProtocol>
			 <customHeaders>
       <!--
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type,Authorization" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE" />
-->
				<add name="Content-Security-Policy" value="default-src 'self' http://27.71.226.196:8888;style-src 'self' 'unsafe-inline';img-src 'self' data: http://27.71.226.196:8888;" />
			
                <add name="X-Frame-Options" value="DENY" />
				<remove name="X-Powered-By" />
                <add name="Cache-Control" value="No-store" />
                <add name="Pragma" value="no-cache" />
			 </customHeaders>
		</httpProtocol>
        <caching>
            <profiles>
                <add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="99999.00:00:00" />
        </staticContent>
        <security>	
            <requestFiltering>
                <verbs>
                    <add verb="OPTIONS" allowed="false" />
                </verbs>
            </requestFiltering>
        </security>
    </system.webServer>	
</configuration>
